# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

proto-java/.gradle
proto-java/build/**
proto-java/caches/**
proto-java/!gradle/wrapper/gradle-wrapper.jar
proto-java/!**/src/main/**/build/
proto-java/!**/src/test/**/build/

### IntelliJ IDEA ###
proto-java/.idea/modules.xml
proto-java/.idea/jarRepositories.xml
proto-java/.idea/compiler.xml
proto-java/.idea/libraries/
proto-java/*.iws
proto-java/*.iml
proto-java/*.ipr
proto-java/out/
proto-java/!**/src/main/**/out/
proto-java/!**/src/test/**/out/

### VS Code ###
proto-java/.vscode/

### Mac OS ###
proto-java/.DS_Store